frostedglass(c)
  background: c
  backdrop-filter: saturate(200%) blur(10px)

wood()
  border-radius: 6vw
  background: url('/images/wood2.jpg')
  background-size: 100%
  box-shadow: 0.5vh 0.5vh 1vh rgba(0, 0, 0, 0.5), -0.5vh -0.5vh 1vh rgba(255, 255, 255, 0.3)

wood-bottom-bar()
  border-top: 1px solid rgb(201, 84, 30)
  background: url('/images/wood2.jpg')
  background-size: 100%
  box-shadow: 0.5vh 0.5vh 1vh rgba(0, 0, 0, 0.5), -0.5vh -0.5vh 1vh rgba(255, 255, 255, 0.3)

wood-font()
  font-weight: bold
  color: 	#8B4513/* SaddleBrown */
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1), -1px -1px 1px rgba(255, 255, 255, 0.1)


